@page
@model wtamucis3312final.Pages.NationalParks.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>National Park</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NationalPark.ParkName)
        </dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(model => model.NationalPark.ParkName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NationalPark.ParkState)
        </dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(model => model.NationalPark.ParkState)
        </dd>
        <hr>
        <div>
            <h6>Park Visitors</h6>
            <ul>
                @foreach (var user in Model.NationalPark.UserNationalParks)
                {
                    <li>
                        @user.UserData.FirstName @user.UserData.LastName
                    </li>
                }
            </ul>
        </div>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.NationalPark.NationalParkId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
