@page
@model wtamucis3312final.Pages.NationalParks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NationalPark[0].ParkName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NationalPark[0].ParkState)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.NationalPark) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParkName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkState)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.NationalParkId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.NationalParkId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.NationalParkId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
