@page "{searchString?}"
@model wtamucis3312final.Pages.NationalParks.UserDataEmailSearchModel

@{
    ViewData["Title"] = "Search by Email";
}

<h1>User Park Visit Log</h1>
@if (Model.ThisUserName != null)
{
    <p>
    <a asp-page="AddParkVisited" asp-route-id="@Model.ThisUserId">Create new national park entry for user</a>
</p>
}

@* Search by searchstring for email *@
<form method="post">
    <p>
        User Email: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Find" asp-page-handler="ShowUserParks" />
    <div class="form-text">
        Enter the user email for whose visit record you want to see.
    </div>
    </p>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</form>
<hr>
@if (Model.ThisUserName != null)
{
    <h2> Parks Visited by @Model.ThisUserName </h2>
}

@if (Model.UserNationalParks != null)
{
    <form method="post">
    @foreach (var park in Model.UserNationalParks)
        {
            <input type="hidden" asp-for="NationalParkIdToDelete" value="@park.NationalPark.NationalParkId" method="post" />
            <li> @park.NationalPark.ParkProperName @park.NationalPark.ParkState <input type="submit" Value="Remove"
                    class="btn btn-danger btn-sm my-1" asp-page-handler="DeletePark" asp-route-id="@park.UserData.UserDataId">
            </li>
            <br />
        }
    </form>
}
else
{
    <p>No parks visited</p>
}